*{
	margin:0px;
	padding:0px;
}

body{
	background-color:rgb(98,0,255,0.1);
	font-family:"Trebuchet MS";
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
}

.bodycon{
	background-color: rgb(98,0,255,0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	padding: 25px;
	border-radius: 10px;
	border: 2px solid rgb(98,0,255,0.15);
}

.studform{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
}

input{
	border:1px solid rgb(98,0,255,0.2);
	background-color: rgb(98,0,255,0.1);
	padding: 10px;
	border-radius: 6px;
}

button{
	border: 2px solid rgb(98,0,255,0.1);
	border-radius: 6px;
	padding: 8px 15px;
	color: white;
}

button[type="submit"]{
	background-color: rgba(150, 85, 255, 0.5);
}
button[type="reset"]{
	background-color: rgba(57, 0, 150, 0.5);
}