*{
	margin:0px;
	padding:0px;
}

body{
	background-color:rgb(98,0,255,0.1);
	display:grid;
	place-items:center;
	height:100dvh;
	font-family: Trebuchet MS;
}

.questions{
	background-color:rgb(98,0,255,0.04);
	padding:25px;
	border-radius:10px;
	border:2px solid rgb(98,0,255,0.15);
	display: flex;
	flex-direction: column;
	gap: 20px;
}

button{
	border: 2px solid rgb(98,0,255,0.1);
	padding:  5px 10px;
	border-radius: 5px;
	background-color: rgb(98,0,255,0.05);
	cursor: pointer;
}